/* GENERAL */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



html,body {
    background-color: white;
    color: #555;
	font-family: 'Bookman', 'Helvetica', sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: initial;
	scroll-behavior: smooth;
	line-height: 1.2;
}

h1, h2, h3 {
    letter-spacing: 1px;
}

h1 {
    word-spacing: 4px;
}

h2 {
    word-spacing: 2px;
}

p {
    line-height: 145%;
}

.hidden {
    display: none;
}


/* HEADER */

header {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

.main-nav {
    width: 100%;
    padding: 10px 30px;
    transition: opacity 0.2s, background-color 0.2s;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.main-nav:hover {
    background-color: white;
    opacity: 0.7;
    color: black;
}

.logo {
    margin-left: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.nav-options-list {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}

.nav-options-list li  {
    border-right: black 1px solid;
}

.nav-options-list li a {
    color: inherit;
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase;
    border-bottom: solid 2px transparent;
    transition: border-bottom 0.2s;
}

.nav-options-list li:last-child {
    border-right: none;
}

.nav-options-list li a:hover, .nav-options-list li a:active {
	border-bottom: solid 2px black;
}


.header-container {
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-text-container {
    width: 49.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-text-box {
    width: 80%;
}

.hero-text-btn {
    width: 80%;
    display: flex;
}

.btn-header {
    background-color: whitesmoke;
    color: #555;
    margin-top: 30px;
    padding: 10px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s, margin-left 0.2s, color 0.2s;
}

.btn-header:hover {
    color: black;
    transform: scale(1.1);
    margin-left: 10px;
    background-color: #95dee3;;
}

.video-container {
    width: 49.2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STICKY HEADER */


.sticky-nav {
    background-color: white;
    opacity: 0.8;
    width: 100%;
    padding: 10px 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 2px 2px #efefef;
	z-index: 9999;
}

/* TESTIMONIAL SLIDER */

.testimonial-slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eaf8f9;
    padding: 40px 20px 60px 20px;
}

.testimonial-slider-title-container {
    margin-bottom: 40px;
}

.testimonial-slider-title-container h2:after {
    display: block;
	height: 2px;
	background-color: #efc050;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

#testimonial-slider {
    width: 100%;
    margin-bottom: 60px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.testimonial {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 24%;
    border-radius: 4px;
    border: 2px solid #555;
    box-shadow: 3px 3px 3px 3px #ccc;
    padding: 20px;
    text-align: center;
}

.testimonial-pic {
    border-radius: 4px;
    margin: 10px;
    height: 120px;
    width: 200px;
}

.dog-name:after {
    display: block;
	height: 2px;
	background-color: #555;
	content: " ";
	width: 100px;
	margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimonial-author {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}

.testimonial-author-pic {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    margin-right: 10px;
}


.testimonial-slider-subtext {
    text-align: center;
}

.stars {
    width: 120px;
    height: 40px;
}

/* ABOUT US */

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fcf2dc;
    padding: 40px 20px 60px 20px;
}

.about-title-container {
    margin-bottom: 60px;
}

.about-title-container h2:after {
    display: block;
	height: 2px;
	background-color: #95dee3;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

.about-sections-container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-picture-container {
    width: 49.2%;
    display: flex;
    justify-content: center;
}

.about-picture {
    height: 500px;
    width: 500px;
    border-radius: 4px;
}

.about-description-container {
    width: 49.2%;
    height: 500px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.about-text-container {
    width: 80%;
}

.btn-about {
    background-color: white;
    color: #555;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.2s, color 0.2s, margin-left 0.2s, background-color 0.2s;
}

.btn-about:hover {
    color: black;
    transform: scale(1.1);
    background-color: #95dee3;
    margin-left: 10px;
}

/* GALLERY */

.gallery-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #eaf8f9;
        padding: 40px 0 60px 0;
}

.gallery-title-container {
    margin-bottom: 60px;
}

.gallery-title-container h2:after {
    display: block;
	height: 2px;
	background-color: #efc050;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

.gallery-row {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
}

.gallery-picture {
    width: 25%;
    cursor: pointer;
    overflow: hidden;
    background-color: black; 
    color: white;
    cursor: pointer;
}

.gallery-picture-text {
    position: relative;
    bottom: 155px;
    left: 125px;
    visibility: hidden;
}

.gallery-picture:hover .gallery-picture-text {
    visibility: visible;
}

.gallery-picture-img {
    width: 100%;
    height: 100%;
    transform: scale(1.10);
    transition: transform 0.4s, opacity 0.4s;
}

.gallery-picture:hover .gallery-picture-img {
    transform: scale(1.02);
    opacity: 0.5;
}


.gallery-description-container {
    width: 60%;
    margin-top: 60px;
    text-align: center;
}

.btn-gallery {
    background-color: white;
    color: #555;
    margin: 30px 0 40px 0;
    padding: 10px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.btn-gallery:hover {
    color: black;
    transform: scale(1.1);
    background-color: #efc050;
}


/* ON CLICK PICTURE */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

/* HERITAGE */

.heritage-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fcf2dc;
        padding: 40px 20px 60px 20px;
}

.heritage-title-container {
    margin-bottom: 60px;
}

.heritage-title-container h2:after {
    display: block;
	height: 2px;
	background-color: #95dee3;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

.btn-heritage {
        background-color: white;
        color: #555;
        margin-top: 15px;
        padding: 10px;
        border: 2px solid black;
        text-decoration: none;
        border-radius: 10px;
        transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.btn-heritage:hover {
    color: black;
    transform: scale(1.1);
    background-color: #95dee3;
}

/* CREDIBILITY */

.credibility-container {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eaf8f9;
    padding: 40px 20px 60px 20px;
}

.credibility-title-container {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.credibility-title-container h2:after {
    display: block;
	height: 2px;
	background-color: #efc050;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

.credibility-sections-container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.credibility-description-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.credibility-text-container {
    width: 95%;
    margin-bottom: 30px;
}

.credibility-text-container h4 {
    margin-bottom: 5px;
}

.credibility-text-container ul li {
    margin-left: 20px;
}

.credibility-pictures-container {
    width: 60%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}  

.credibility-picture1 {
    height: 300px;
    width: 300px;
    margin-right: 20px;
}

.credibility-picture2 {
    border-radius: 4px;
    height: 400px;
    width: 500px;
}

/* CONTACT */

.contact-container {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fcf2dc;
    padding: 40px 20px 60px 20px;
}

.contact-title-container {
    margin-bottom: 60px;
}

.contact-title-container h2:after {
    display: block;
	height: 2px;
	background-color: #95dee3;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

.contact-form-container {
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 4px;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  .submit-btn-container {
      width: 100%;
      text-align: left;
  }

  input[type=submit] {
    background-color:  white;
    font-size: 16px;
    color: #555;
    margin: 10px 0;
    padding: 15px 35px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, margin-left 0.2s;
  }

  input[type=submit]:hover {
   transform: scale(1.1);
   background-color:  #95dee3;
   margin-left: 4px;
  }

  /* FOOTER */

  .footer-container {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #5c5c60;
    padding: 20px;
}

.footer-container p:before {
    display: block;
	height: 2px;
	background-color: white;
	content: " ";
	width: 100px;
	margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo-footer {
    height: 50px;
    width: 50px;
    margin: 10px 0;
}